apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    api-approved.openshift.io: https://github.com/openshift/api/pull/2668
    api.openshift.io/merged-by-featuregates: "true"
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
    release.openshift.io/bootstrap-required: "true"
    release.openshift.io/feature-set: TechPreviewNoUpgrade
  name: controllermanagers.config.openshift.io
spec:
  group: config.openshift.io
  names:
    kind: ControllerManager
    listKind: ControllerManagerList
    plural: controllermanagers
    singular: controllermanager
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: |-
          ControllerManager holds cluster-wide config information to run the Kubernetes controller manager
          and influence its placement decisions. The canonical name for this config is `cluster`.

          Compatibility level 4: No compatibility is provided, the API can change at any point for any reason. These capabilities should not be used by applications needing long term support.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: spec holds user settable values for configuration
            minProperties: 1
            properties:
              forceDetachOnTimeout:
                default: Enabled
                description: |-
                  forceDetachOnTimeout expresses whether to allow kube-controller-manager
                  to force detach volumes when unmount takes longer than the timeout.
                  Valid values are Enabled and Disabled. If omitted, the default is Enabled.
                enum:
                - Enabled
                - Disabled
                type: string
            type: object
          status:
            description: status holds observed values from the cluster. They may not
              be overridden.
            minProperties: 1
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
